@media(max-width: 1850px)
	body
		font-size: 15px
	header
		.banner
			&_ourWorks, &_case
				.banner__img
					&-2
						top: 85%

@media(max-width: 1725px)
	header
		.banner
			&_ourWorks, &_case
				.banner__img
					&-2
						top: 75%
	.btn
		&_bl
			max-width: 350px
		&_wh
			max-width: 350px

@media(max-width: 1660px)
	body
		font-size: 14px
	header
		.banner
			&__img-4
				right: 10%
			&_ourWorks, &_case
				.banner__img
					&-2
						top: 65%
	.other-projects__img, .presentation__img_3
		width: calc(50vw - 610px)
		background-position: right 0

@media(max-width: 1600px)
	.headhesive
		margin-top: -15px
	header
		.nav
			margin-top: 15px
		.banner
			&__img-2
				left: 4%
			&__img-3
				right: 8%
			&_case
				.container
					.slider
						.headline
							.headline__img
								max-width: 526px
							.headline__text
								padding-bottom: 0
								align-self: center

	.services__img-1
		left: 1%

	.portfolio__img
		&-1
			left: -4%
		&-2
			left: 1%
		&-5
			right: 0

	.work__img-1
		left: -4%

@media(max-width: 1535px)
	header
		.banner
			&__img
				&-3
					right: 4%
				&-4
					right: 6%
	.presentation__img
		&_8, &_11
			width: calc(50vw - 610px)
			background-position: -30px 0

@media(max-width: 1500px)
	.presentation
		&__img
			&_1, &_7
				width: calc(50vw - 610px)
				background-position: right 0
			&_4, &_10
				width: calc(50vw - 610px)
				background-position: left 0


@media(max-width: 1456px)
	header
		.banner
			&__img
				&-1
					left: -5%
				&-2
					left: -3%
				&-3
					right: 1%
				&-4
					right: 3%
			&_case
				.container
					.slider
						.headline
							.headline__img
								max-width: 450px

	.services__img
		&-1
			left: -4%
		&-2
			right: -5%

	.portfolio__img
		&-1
			display: none
		&-2
			left: -5%
		&-3
			right: -6%
		&-4
			right: -2%
		&-5
			right: -4%
		&-6
			right: -7%

	.review__img-2
		right: -1.5%

	.work__img-1, .work__img-2
		display: none

	.presentation
		&__img
			&_2
				width: calc(50vw - 610px)
				background-position: left 0

@media(max-width: 1390px)
	body
		font-size: 13px
	header
		.nav
			.logo
				width: 135px
		.banner
			&__img
				&-2
					left: -6%
			.container
				&::after
					max-width: 952px
					left: 56px
			.slider
				.headline
					&__text
						.text
							padding-left: 88px

	.headhesive
		.logo
			&__img
				max-width: 135px

	.services__img
		&-1
			left: -4%
		&-2
			right: -5%

	.portfolio__img
		&-1
			display: none
		&-2
			left: -5%
		&-3
			right: -6%
		&-4
			right: -2%
		&-5
			right: -4%
		&-6
			right: -7%

	.review__img-2
		right: -1.5%

@media(max-width: 1367px)
	.container
		max-width: 1000px
		#portfolio_grid
			.portfolio_item
				.square
					width: calc((1000px - 60px)/3)
					height: calc((1000px - 60px)/3)
	header
		.nav
			grid-template-columns: calc((100vw - 1000px)/2 +  135px) auto calc((100vw - 1000px)/2 + 332px)
			.contacts
				&__list
					.list__item
						padding: 14px 40px
						&_mail:before
							width: 25px
							height: 18px
							background-size: contain
							top: 15px
						&_phone:before
							width: 25px
							height: 25px
							background-size: contain
		.banner
			.container
				&::after
					max-width: 830px
					height: 354px
					left: 39px
				.slider
					.headline
						&__text
							.text
								font-size: 230%
								line-height: 40px
								padding-left: 78px
						&__img
							img
								max-width: 526px

			&__img
				display: none
			&_ourWorks
				.container
					.slider
						.headline
							.headline__text
								justify-content: center
								padding-bottom: 0
							&__img
								padding-left: 3vw
		.btn_header
			&_case
				padding-top: 16px


	.headhesive
		grid-template-columns: calc((100vw - 1000px)/2 +  135px) auto calc((100vw - 1000px)/2 + 332px)
		.contacts
			&__list
				margin: 0
				.list__item
					padding: 14px 40px
					&_mail:before
						width: 25px
						height: 18px
						background-size: contain
						top: 15px
					&_phone:before
						width: 25px
						height: 25px
						background-size: contain
	.presentation
		&__img
			display: none
		.container
			.presentation-grid
				grid-template-rows: repeat(7, 500px)

	.other-projects
		&__img
			display: none
		.container
			&__h2
				font-size: 26px
			.projects-grid
				grid-template-columns: repeat(3, min-content)
				grid-gap: 20px
				&__item
					grid-template-columns: min-content
					grid-template-rows: max-content auto max-content
				&__img
					width: 320px
					height: calc(320px * 0.69)
				&__text
					.heading
						font-size: 20px
						padding: 20px 20px
					.description
						padding: 0 20px 20px 20px
				&__link
					.link
						padding: 26px 20px 25px 20px

	.services
		&__img
			display: none
		&__block
			grid-column-gap: 35px
			.block__item
				.item:before
					max-width: 61px
					height: 61px

	.portfolio__img
		display: none

	.review
		&__img
			&-1
				height: 360px
			&-2
				display: none
		.rev-slide
			grid-template-columns: 9.5% 62.9% 27.6%
			&__comment
				padding: 99.5px 185px 99.5px 90px
			&__person_center
				right: -20.4%
		.slick
			&-prev, &-next
				top: 91%
			&-prev
				left: 90%
			&-next
				right: -0.5%

	.work
		&__img
			img
				width: 100%
			&_one
				max-width: 502px
				top: -28px
			&_two
				max-width: 229px
				bottom: 14px
				left: 5px
			&_three
				max-width: 236px
				bottom: -24px
				left: -38px
			&_four
				bottom: 9px
				right: 16px
				width: 166px
			&_five
				bottom: -35px
				right: 110px
				width: 193px
		&-block__item
			&_text-1
				padding-left: 51%
			&_1
				padding: 50px 22px 47px 296px
			&_2
				padding: 50px 46px 7px 47px
			&_3
				padding: 50px 44px 55px 66px
			&_4
				padding: 50px 62px 55px 61px

	.social
		&_case
			.social__img
				display: none

	.social-block
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr))
		grid-gap: 15px

	.footer-contact-block__social
		margin-bottom: 20px

@media(max-width: 1230px)
	header
		.banner
			.container
				.slider
					.headline
						grid-template-columns: 3fr 4fr
						.headline__text
							.text
								padding: 0 0 50px 70px
						&__img
							img
								max-width: 495px
				&::after
					max-width: 855px
					height: 335px
			&_ourWorks
				.container
					.slider
						.headline
							.headline__text
								.text
									padding: 0 0 9% 0
			&_case
				.container
					.slider
						.headline
							grid-template-columns: 5fr 6fr
							.headline__text
								padding: 0 0 24.5% 13.5%
								.text
									padding: 0 0 10% 0

	footer
		.container
			.footer-contact-block
				&__phone
					justify-content: center
				&__social
					justify-content: center

@media(max-width: 1135px)
	.headhesive
		grid-template-columns: calc((100vw - 1000px)/2 +  160px) auto calc((100vw - 1000px)/2 + 332px)
	header
		.nav
			grid-template-columns: calc((100vw - 1000px)/2 +  160px) auto calc((100vw - 1000px)/2 + 332px)
		.banner
			.container
				.slider
					.headline
						.headline__text
							.text
								padding: 0 0 50px 95px
						&__img
							img
								max-width: 475px
				&::after
					max-width: 811px
					height: 320px
					left: 64px

			&_ourWorks
				.container
					.slider
						.headline
							.headline__text
								.text
									padding: 0 0 9% 0
			&_case
				.container
					.slider
						.headline
							.headline__text
								.text
									padding: 0 0 10% 0
@media(max-width: 1070px)
	header
		.banner
			.slick
				&-dots
					left: 8%

	.presentation, .other-projects
		.container
			padding: 0 15px
			box-sizing: border-box

	.presentation
		.container
			.presentation-grid
				grid-template-rows: repeat(7, 485px)

	.other-projects
		.container
			.projects-grid
				&__img
					width: calc(930px / 3)

@media(max-width: 1025px)
	.headhesive
		grid-template-columns: calc((100vw - 950px)/2 +  160px) auto calc((100vw - 950px)/2 + 305px)
		.contacts
				padding-left: 20px
	.container
		max-width: 950px
		padding: 0 15px
		box-sizing: border-box
		#portfolio_grid
			grid-template-columns: 1fr 1fr
			.portfolio_item
				.square
					width: calc(((950px - 2*15px) - 30px)/2)
					height: calc(((950px - 2*15px) - 30px)/2)
	header
		.nav
			grid-template-columns: calc((100vw - 950px)/2 +  160px) auto calc((100vw - 950px)/2 + 305px)
			.contacts
				&__list
					padding-left: 20px

		.banner
			.container
				.slider
					.headline
						.headline__text
							.text
								padding: 0 0 50px 75px
				&::after
					max-width: 791px
			&_ourWorks
				.container
					.slider
						.headline
							.headline__text
								.text
									padding: 0 0 9% 0
			&_case
				.container
					.slider
						.headline
							.headline__text
								padding: 0 0 0 20px
								align-self: center
								.text
									padding: 0 0 10% 0

	.presentation
		.container
			.presentation-grid
				grid-template-rows: repeat(7, 460px)

	.other-projects
		.container
			.projects-grid
				&__img
					width: calc(880px / 3)
					height: 100%
					min-height: calc((880px / 3) * 0.69)
				&__text
					.description
						padding-bottom: 10px

	.services
		&__block
			grid-template-columns: repeat(auto-fill, minmax(430px, 1fr))
			.block__item .item_p
				flex-direction: column
				padding-left: 63px
				p, p:last-child
					padding-left: 50px
					&:after
						content: ""
						width: 18px
						height: 4px
						background-color: #dddddd
						display: block
						position: absolute
						left: 17px
						top: calc(50% - 2px)
	.work
		.container
			.work-info
				grid-gap: 50px

	.social-block
		grid-template-columns: repeat(auto-fill, minmax(290px, 1fr))

@media(max-width: 1000px)
	header
		.nav
			grid-template-columns: calc((100vw - 950px)/2 +  200px) auto
			.logo
				width: 155px
			.menu
				display: none
			.contacts
				display: none
			.burger-link
				display: flex
				justify-content: flex-end
				padding-right: 65px
				.menu-link
					display: block
					width: 50px
					height: 50px
					background-color: transparent
					position: relative
					z-index: 999
					span, span:before, span:after
						height: 3px
						width: 43px
						display: block
						background-color: #6170ca
						position: absolute
						left: 50%
						top: 50%
						margin-top: -1px
						margin-left: -21.5px
					span:before
						content: ""
						margin-top: -8px
						transition: all .2s
					span:after
						content: ""
						margin-top: 4px
						width: 22px
						transition: all .2s
					&_active span
						background: transparent
						&:before
							transform: rotate(45deg)
							margin-top: 0
						&:after
							width: 43px
							transform: rotate(-45deg)
							margin-top: 0
			.nav-burger
				width: 100%
				height: 100%
				background-color: rgba(255, 255, 255, 0.8)
				position: fixed
				top: 0
				right: 0
				z-index: 98
				right: -100vw
				transition: all .5s
				display: block
				&_active
					right: 0
				&__menu
					width: 100vw
					height: 50%
					min-height: 280px
					background-color: #000002
					display: flex
					flex-direction: column
					justify-content: center
					align-items: center
					list-style: none
					z-index: 99
					margin: 0
					padding: 0
				&__li
					width: 100vw
					text-align: center
					height: 15%
					a
						font-size: 18px
						font-weight: 700
						text-transform: uppercase
						color: #ffffff
						line-height: 38px
						letter-spacing: 1.2px
						transition: all 0.2s

		.banner
			.container
				.slider
					.headline
						.headline__text
							.text
								padding: 0 0 50px 98px
				&::after
					max-width: 765px
					left: calc(200px - 155px *0.71)
			&_ourWorks
				.container
					.slider
						.headline
							.headline__text
								.text
									padding: 0 0 9% 0
			&_case
				.container
					.slider
						.headline
							.headline__text
								.text
									padding: 0 0 10% 0

	.headhesive
		display: none

	.btn_header
		grid-template-columns: 1fr
		padding-top: 25px

	.review
		.rev-slide
			grid-template-columns: 9.5% 64.9%
		.slick
			&-prev
				left: 87%
			&-next
				right: 2.5%

	.work__img_three
		max-width: 215px
		left: -21px

@media(max-width: 950px)
	.container
		max-width: 769px

	header
		.nav
			grid-template-columns: 1fr 1fr
			max-width: 769px
			margin-left: auto
			margin-right: auto
			margin-top: 20px
			.logo
				justify-self: start
				margin-left: 20px
			.burger-link
				padding-right: 0
				margin-right: 20px
			&_ourWorks, &_case
				.logo
					margin-left: 30px
				.burger-link
					margin-right: 30px
		.banner
			.container
				.slider
					.headline
						grid-template-columns: 8fr 11fr
						.headline__text
							.text
								font-size: 195%
								padding: 0 0 55px 80px
				&::after
					max-width: 655px
					height: 280px
					left: calc(20px + 0.29*155px)
			&_ourWorks
				.container
					.slider
						.headline
							.headline__text
								padding-left: 30px
								.text
									padding: 0 0 9% 0
			&_case
				.container
					.slider
						.headline
							.headline__text
								padding-left: 20px
								.text
									padding: 0 0 10% 0
									&::after
										bottom: 15px

	.presentation
		.container
			.presentation-grid
				grid-template-rows: repeat(7, 368px)

	.other-projects
		.container
			.projects-grid
				grid-template-columns: 1fr
				&__item
					grid-template-areas: 'a b' 'c c'
					grid-template-columns: max-content auto
					grid-template-rows: auto max-content
				&__text
					.description, .description_special
						padding-bottom: 0

	.services
		&__block
			grid-template-columns: repeat(auto-fill, minmax(330px, 1fr))
		.block
			&__item
				.item
					padding-left: 21%

	.portfolio-block
		#portfolio_grid
			grid-template-columns: repeat(2, 1fr)
			.portfolio_item
				.square
					width: calc(((769px - 2*15px) - 30px)/2)
					height: calc(((769px - 2*15px) - 30px)/2)

	.review
		&__img-1
			top: 5%
			height: 310px
		.rev-slide
			grid-template-columns: 0 84.8%
			&__person
				top: calc(50% - 105px)
				&_center
					right: -22.1%
			&__comment
				min-height: 120px
				&:before, &:after
					display: none
		.slick
			&-prev, &-next
				top: 88%
			&-prev
				left: 3%
			&-next
				right: 18%

	.work
		&-block
			grid-template-rows: 47% 47%
			&_1
				grid-template-columns: 1fr
				grid-template-rows: 55% 41%
			&_2
				grid-template-columns: 1fr
			&__item
				&_1
					padding: 47px 44px 0 353px
				&_2
					padding: 34px 46px 19px 206px
					p
						padding-left: 2%
					&:before
						top: calc(50% - 83px)
						left: calc(50% - 17px)
						transform: rotate(90deg)
				&_3
					padding: 39px 44px 26px 213px
					position: relative
					&:before
						content: ""
						position: absolute
						background-image: url(../img/arrowrightblack.svg)
						width: 36px
						height: 17px
						display: block
						top: calc(50% - 97px)
						left: calc(50% - 17px)
						transform: rotate(90deg)
				&_4
					padding: 39px 44px 26px 44px
					&:before
						top: calc(50% - 109px)
						left: calc(50% - 17px)
						transform: rotate(90deg)
		&__img
			&_one
				max-width: 442px
				top: -28px
				left: 2%
			&_two
				bottom: 20px
				left: 0
			&_three
				max-width: 236px
				left: 2%
				bottom: 13%
			&_five
				bottom: -48px
				right: 3%
				width: 170px
		&-info
			grid-gap: 50px
			margin: 45px 0 0 0
		#circle-line
			width: 100%
			margin: 20px auto

	.social
		&-block
			grid-template-columns: 1fr 1fr 1fr
			.follow
				.text_bold
					margin: 7px 0 15px 0
				img
					margin: 0
					max-width: 217px

@media(max-width: 769px)
	.container
		max-width: 576px
		.social-block
			grid-template-areas: 'a b' 'c c'
			grid-template-columns: 1fr 1fr
			grid-template-rows: 1fr 1fr
			grid-column-gap: 15px
			.vk
				grid-area: a
				max-width: 310px
			.insta
				grid-area: b
			.follow
				grid-area: c
				display: flex
				flex-direction: column-reverse
				justify-self: center
				.text_bold
					max-width: 400px
					margin-top: 16px
					margin-bottom: 34px
					text-align: center
				img
					width: 207px
					margin-left: calc(50% - 51px)
	.btn
		&_header
			padding-top: 0
		&_portfolio
			grid-template-columns: 1fr
			grid-gap: 20px
		&_go
			justify-self: center
		&_form
			justify-self: center

	header
		.nav
			max-width: 576px
			margin-top: 20px
			.burger-link
				justify-self: end
				align-self: flex-start
				padding: 0
				margin-right: 18px
				.menu-link
					height: 25px
		.banner
			.container
				.slider
					.headline
						grid-template-columns: 1fr
						grid-template-rows: 70% 30%
						.headline__text
							order: 2
							justify-self: center
							.text
								padding: 15px 0
				&::after
					width: auto
					height: 100%
					right: calc(-50vw + 288px)
					border-right: none					

			&_ourWorks
				.container
					.slider
						.headline
							grid-template-rows: auto auto
							.headline__text
								width: 100%
								max-width: 250px
								margin: 0 auto
								padding: 0
								.text
									text-align: center
									span
										display: inline
			&_case
				.container
					.slider
						.headline
							grid-template-rows: auto auto
							.headline__text
								padding: 0
								text-align: center
								.text
									padding: 25px 0
									span
										display: block
									&::after
										bottom: 10px
										left: calc(50% - 35px)

		.btn
			&_header
				.btn_bl-header
					margin-top: 30px
				&_case
					.btn_bl-header
						margin: 20px auto

	.presentation
		.container
			.presentation-grid
				grid-template-rows: repeat(7, 273px)

	.other-projects
		.container
			&__h2
				margin: 40px 0
			.projects-grid
				grid-template-columns: min-content
				max-width: min-content
				margin: 0 auto
				&__item
					grid-template-areas: 'a' 'b' 'c'
					grid-template-columns: min-content
					grid-template-rows: repeat(3, max-content)
				&__img
					width: 373px
					height: 258px
				&__text
					.description
						padding-bottom: 27px
						&_special
							padding-bottom: 39px

	.services
		&__block
			grid-gap: 40px
			.block__item
				.item
					display: table
					margin: 0 auto 15px
					padding-left: 0
					&:before
						padding-left: 0
						display: table
						margin: 0 auto 26px
						position: inherit
						top: inherit
					&_p
						flex-direction: row
						justify-content: center
						padding-left: 0
						p
							&:first-child
								padding-left: 0
							&:not(:last-child)
								padding-right: 0
							&:first-child:after
								display: none
	.portfolio
		.portfolio-block
			.filter_div
				ul
					grid-template-columns: 1fr
					grid-row-gap: 20px
			#portfolio_grid
				.portfolio_item
					.square
						width: calc(((576px - 2*15px) - 30px)/2)
						height: calc(((576px - 2*15px) - 30px)/2)
		&_ourWorks
			.container
				.portfolio-block
					.filter_div
						ul
							.active
								&::before, &::after
									max-width: 100%
									left: 0

	.review
		padding-bottom: 52px
		&__img-1
			top: 83px
			height: 45%
			width: 100%
			background-position: -7px 0
			background-size: 18.5px 18.6px
		.rev-slide
			grid-template-columns: 1fr
			padding-top: 77px
			&__comment
				min-height: 200px
				padding: 153px 43px 0 43px
				font-size: 16px
				line-height: 20px
				text-align: center
			&__person
				top: -67px
				right: calc(50% - 137px)
				&_center
					right: calc(50% - 137px)
				.person__info
					min-width: 274px
					box-sizing: border-box
					padding: 3px 0 7px 0
					.name
						font-size: 18px
					.url
						font-size: 16px
		.slick-prev
			top: 91%
			left: 33%
		.slick-next
			top: 91%
			right: 33%
	.work
		.container
			.work-block
				grid-template-rows: auto auto
				padding-top: 43px
				grid-gap: 12px
				&_1
					grid-template-rows: auto auto
					grid-gap: 13px
				&_2
					grid-gap: 64px
				&__item
					padding: 212px 0 36px 0
					p
						padding: 0
						margin: 0 35px
						font-size: 16px
						text-align: center
						letter-spacing: 0.5px
						line-height: 20px
						&:first-of-type
							margin-bottom: 22px
					&_2, &_3, &_4
						&::before
							top: 0
					&_2
						padding: 189px 0 33px 0
						p
							margin-left: 20px
							margin-right: 20px
					&_3
						padding: 54px 0 108px 0
						p
							margin-left: 20px
							margin-right: 20px
					&_4
						padding: 58px 0 79px 0
						p
							margin-left: 20px
							margin-right: 20px
							&:first-of-type
								margin-bottom: 0
							&:nth-of-type(2)
								margin-bottom: 25px
			.work-info
				grid-template-columns: 1fr
				grid-gap: 15px
				text-align: center
				margin-top: 89px
				&__item
					font-size: 16px
					.text_bold
						max-width: 290px
						margin-left: auto
						margin-right: auto
					&::after
						content: ''
						display: block
						width: 18px
						height: 4px
						margin: 0 auto 11px
						background-color: #ddd
					p
						line-height: 20.8px
						margin-left: 17px
						margin-right: 17px
					&:first-child
						.text_bold
							max-width: 200px
							margin-bottom: 20px
						p
							margin-bottom: 34px
					&:nth-child(2)
						p
							margin-left: 7px
							margin-right: 7px
							&:last-child
								margin-bottom: 33px
						&::after
							margin-bottom: 6px
					&:nth-child(3)
						p
							margin-bottom: 16px
						.text_bold
							&:last-of-type
								margin-bottom: 15px
						&::after
							display: none
			#circle-line
				margin-top: 32px
		&__img
			img
				width: auto
				height: 100%
			&_one
				width: 288px
				height: 225px
				overflow: hidden
				top: -36px
				left: calc(50% - 140px)
			&_two
				top: 47px
				bottom: auto
				left: calc(50% - 134.5px)
			&_three
				height: 110px
				left: -11px
				bottom: -43px
			&_four
				height: 44px
				width: auto
				right: -10px
				bottom: -34px
			&_five
				height: 104px
				width: 204px
				left: calc(50% - 104px)

@media(max-width: 640px)
	.container
		padding: 0 25px

	.portfolio
		.portfolio-block
			#portfolio_grid
				.portfolio_item
					.square
						width: calc(((576px - 2*25px) - 30px)/2)
						height: calc(((576px - 2*25px) - 30px)/2)

	.presentation, .other-projects
		.container
			padding: 0 25px

	.presentation
		.container
			.presentation-grid
				grid-template-rows: repeat(7, 263px)

	.footer-contact-block
		grid-template-columns: 1fr
		&__phone
			display: flex
			justify-content: space-around
			flex-wrap: wrap
			.number
				flex-basis: 240px
				text-align: center
		&__social
			justify-content: center
			a:first-of-type
				margin-left: 0

@media(max-width: 576px)
	header
		.nav
			padding-top: 20px
			margin-bottom: 30px
			margin-top: 0
			.logo
				margin-left: 18px
		.banner
			.container
				&::after
					width: auto					
					left: 63px
					right: 0

	.presentation
		.container
			.presentation-grid
				grid-template-columns: repeat(2, calc(50vw - 25px))
				grid-template-rows: repeat(7, calc(50vw - 25px))

	.portfolio
		.portfolio-block
			#portfolio_grid
				grid-template-columns: 1fr
				grid-gap: 20px
				padding-top: 28px
				padding-bottom: 30px
				.portfolio_item
					.square
						width: 80vw
						height: 80vw
			.filter_div
				ul
					grid-template-columns: repeat(auto-fill, minmax(auto, 300px))
					justify-content: center
					font-size: 18px

@media(max-width: 510px)
	header
		.banner
			.container
				.slider
					.headline
						.headline__text,
						.headline__text_2,
						.headline__text_3,
						.headline__text_4
							justify-self: center
							padding: 0
							margin: 0
							max-width: 300px
							.text
								margin: 0
								padding: 35px 0 19px 0
								line-height: 30px
						.headline__text_2
							letter-spacing: -1px
			&_ourWorks
				.container
					.slider
						.headline
							padding-bottom: 20px
							.headline__text
								max-width: 250px
			&_case
				.container
					.slider
						.headline
							padding-bottom: 0
							.headline__text
								max-width: 100%
								.text
									padding: 25px 0
									line-height: 35px
	.btn
		max-width: 74vw
		margin-right: auto
		margin-left: auto
		font-size: 16px
		&_bl-header, .btn_wh
			padding-top: 23px
			padding-bottom: 20px
			margin-top: 0

		&__h2
			margin-top: 20px
			font-family: GothamProLight
			font-size: 24px
			font-weight: normal
			&>span
				font-family: GothamProMedium
				font-weight: normal

	.presentation
		.container
			.presentation-grid
				grid-template-columns: repeat(2, calc(50vw - 25px))
				grid-template-rows: repeat(7, calc(50vw - 25px))

	.other-projects
		.container
			.projects-grid
				&__img
					width: 350px
					height: calc(350px*0.69)

	.services
		padding-bottom: 54px
		&__block
			grid-template-columns: repeat(auto-fill, minmax(270px, 1fr))
			grid-gap: 74px
			padding-top: 16px
			.block__item
				.item
					padding: 0 15px
					margin-bottom: 26px
					font-size: 24px
					&::before
						max-width: 72px
						height: 72px
						margin-bottom: 14px
					&::after
						content: ""
						width: 18px
						height: 4px
						background-color: #dddddd
						display: block
						position: absolute
						left: calc(50% - 9px)
						bottom: -14px
				.item_p
					flex-direction: column
					justify-content: center
					text-align: center
					padding-left: 0
					margin: 22px auto 0
					p
						padding: 0
						margin: 0 0 1px 0
						font-family: GothamProMedium
						font-weight: normal
						font-size: 18px
						&:last-child
							padding: 0
						&:not(:last-child):after, &:last-child:after
							display: none
	.white-popup-block
		padding: 25px
		.grid
			grid-template-columns: 1fr
			margin-top: 24px
	.portfolio
		padding-bottom: 53px
		.container
			&__h2
				margin-top: 5px
				margin-bottom: 26px
				span
					display: block
					margin-bottom: 3px
			.portfolio-block
				#portfolio_grid
					.portfolio_item
						.square
							width: 84vw
							height: 84vw
				.filter_div
					ul
						margin: 0 58px
						grid-gap: 0
						.filter
							padding: 15px 0
						.active
							padding: 17px 0
	.review
		.rev-slide
			&__comment
				min-height: 240px
				padding: 153px 23px 0 23px

	.social
		.container
			.social-block
				grid-template-areas: 'a' 'b' 'c'
				grid-template-columns: 1fr
				max-width: 300px
				margin-left: auto
				margin-right: auto
				.follow
					.text_bold
						max-width: 100%
						padding: 0 40px
						box-sizing: border-box
						font-size: 17px
						line-height: 21px
					img
						margin-left: calc(50% - 61px)
	.contact-form
		.form-container
			.grid
				grid-template-columns: 1fr
				margin-top: 24px
	.rights
		box-sizing: border-box
		width: 100%
		line-height: 20px
		padding: 0 30px

@media(max-width: 400px)
	header
		.banner
			.container
				.slider
					.headline
						.headline__text
							justify-self: start
							.text
								padding-left: 70px
								font-size: 22px
								letter-spacing: -1px
			&_ourWorks
				.container
					.slider
						.headline
							.headline__text
								justify-self: center
								.text
									padding-left: 0
			&_case
				.container
					.slider
						.headline
							.headline__text
								.text
									box-sizing: border-box
									padding: 25px 10px
									font-size: 20px
									line-height: 30px
								.additional-text
									padding: 0 10px
									font-size: 16px

	.presentation
		.container
			.presentation-grid
				grid-template-areas: 'a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i'
				grid-template-columns: calc(100vw - 50px)
				grid-template-rows: repeat(9, calc(50vw - 25px))

		.btn_presentation
			min-width: 260px
			margin: 10% auto !important

	.other-projects
		.container
			.projects-grid
				&__img
					width: calc(100vw - 52px)
					height: calc((100vw - 52px)*0.69)
				&__text
					.heading
						box-sizing: border-box
						padding: 20px 10px 18px 20px
						font-size: 22px
					.description
						padding: 0 20px 10px 20px

	.review
		.rev-slide
			&__comment
				min-height: 285px
				padding: 153px 13px 0 13px
			&__person
				right: calc(50% - 38vw)
				&_center
					right: calc(50% - 38vw)
				.person__info
					width: 76vw
					min-width: auto
					.name, .url>a
						padding: 0 5px
					.url>a
						font-size: 100%
						word-wrap: break-word